<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Food Emotions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">


    <!-- STILOS -->
    <link rel="stylesheet" href="css/recetas.css">

    <STYLE>
        a {
            text-decoration: none;
        }
    </STYLE>

    <!-- ICONOS -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

    <!-- SCRIPT IMPORTANTE PARA QUE EN MENU ESCONDIDO SE DESPLAZE JUNTO AL CODIGO ESCRITO 
        DONDE ABAJODEL TODO DESPUES DEL FOOTER  HE PUESTO UN LINK DEL ARCHIVO ESCRITO LLAMADO 
         MENURECTDESPLAZA Y PONIENDO EL NAV EN FIXED TAMBIEN PARA EL CARROUSEL-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>



    <!-- GOOGLE FONTS-->

    <link
        href="https://fonts.googleapis.com/css?family=Archivo+Black|Artifika|Bai+Jamjuree|Cabin|Merienda|Roboto+Condensed|Satisfy&display=swap"
        rel="stylesheet">

</head>




<body>
    <!-- MAIN WRAPPER -->

    <div id="wrapper">

        <header>

            <!-- CABECERA ----------------------------------------------------------->

            <div class="cabecera">

                <!-- BOTON HAMBURGUESA SIN FONTAWESOME Y SE COVIERTE EN ASPA-->
                <div class="menu-btn">
                    <p>MENU</p>
                    <div class="menu-btn__burger"></div>
                </div>
                <!-- final caja menu icono-->




                <!-- caja logo ---->
                <div class="logo">
                    <a href="#" id="logo1">
                        <img src="img/logo/logd.png" alt="Food Emotions">
                    </a>
                </div>

                <!-- final caja logo-->
                <!--  caja boletin-->
                <div class="boletin">
                    <span id="Revista"> <a href="index.html">

                            <h4>Suscribete!</h4>
                        </a></span>
                </div>
                <!-- final caja boletin-->











                <!-- NAV MENU QUE VA CON EL BOTON MENU-->


                <nav>
                    <ul>
                        <li> <a href="http://www.facebook.com" class="current">pierde peso
                            </a>

                            <ul>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>

                            </ul>
                        </li>

                        <li> <a href="#nutiricion">
                                dietas especiales
                            </a>
                            <ul>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>

                            </ul>
                        </li>

                        <li> <a href="#intolerancias">
                                planes de salud

                            </a> </li>


                        <li><a href="#in">
                                comiendo sano
                            </a>
                            <ul>

                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>


                            </ul>
                        </li>


                        <li> <a href="#contact">Weight Loss

                            </a>
                            <ul>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                            </ul>
                        </li>
                        <li> <a href="#contact">
                                Meal Plans
                            </a>
                            <ul>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                                <li><a href="#menu">Naranjas</a></li>
                            </ul>
                        </li>
                        <li> <a href="#contact">
                                Videos
                            </a>

                        </li>
                        <li> <a href="#contact">
                                Videos
                            </a> </li>
                    </ul>

                </nav>



            </div> <!-- FINAL CABECERA ----------------------------------------------------------->




        </header>










        <div class="container">

            <!-- PRIMERA SECCCION MENU ARROW ------------------------------------------------------------------------------------>


            <div class="menu-arrow">

                <!-- CONTENEDOR DEL MENU PEQUEÑO----------------------------------->
                <ul class="arrow">
                    <li class="arrow1">
                        <a href="malito:contacto@emotionsfood.com" target="_blank">
                            <p>RECETAS
                                <i class="right"></i></p>
                        </a>
                    </li>
                    <li class="arrow1">
                        <a href="malito:contacto@emotionsfood.com" target="_blank">
                            <p>HISTORIAL
                                <i class="right"></i></p>
                        </a>
                    </li>
                    <li class="arrow1">
                        <a href="malito:contacto@emotionsfood.com" target="_blank">
                            <p>CLASES
                                <i class="right"></i></p>
                        </a>
                    </li>
                </ul>

            </div>



            <!-- SEGUNDA SECTION TRES COLUMNAS ---------------------------------------------------------------------------------------------->
            <div class="tres-columnas">


                <!-- PRIMERA  COLUMNA  ------CONTENEDOR GENERAL DEL CONTENIDO Y ASIDE----------------------------->


                <!-- CONTENEDOR DE TOTAL DEL CONTENIDO----------------------------------->
                <div class="primera-columna">

                    <!-- PRIMERA SECTION--------------------------------------------------------------------->
                    <section class="articulo">


                        <article class="recetas">
                            <h1>papa a la huancaína</h1>
                            <h2>originaria de la sierra peruana</h2>
                            <p>La crema de la papa a la huancaína, o salsa huancaína, tambièn se suele usar como base de
                                otros
                                platos de fondo, como salsa para tallarines , como acompañante de platos de arroz (como
                                el arroz con pollo), para servir sobre una causa limeña, o para añadir como salsa a
                                ingredientes cocidos, como choclos o huevos cocidos.
                                En muchas ciudades costeras se suele servir como acompañante de tallarines rojos o con
                                ceviche.
                                Se puede realizar una variante con la papa prensada sazonada con ají y limón se hacen
                                bolitas y se decora con la salsa. Esto es tradicional en la costa norte, especialmente
                                en Chiclayo.

                            </p>

                            <div class="foto-autor">
                                <figure>
                                    <img src="img/bolita/bolita.png" />
                                    <figcaption><a href="index.html">
                                            <h4>Por: Armando Autieri</h4>
                                        </a></figcaption>
                                </figure>
                            </div>
                        </article>

                        <div class="vista"><img src="img/huayna.jpg"></div>

                    </section>










                    <div class="tipeo">
                        <h4 class="font-weight-light">
                            A smarter way to tell your users about .....
                        </h4>



                        <h1><i>"new features." <span>&#160;</span></i></h1>


                    </div>


                    <!-- CUARTA SECTION  ICONOS SOCIALES------------------------------------------->
                    <div class="iconos-general">
                        <ul class="iconos-social">
                            <li> <a href="malito:contacto@emotionsfood.com" target="_blank">
                                    <i class="fas fa-envelope"></i> </a> <br>
                            </li>
                            <li> <a href="https://www.facebook.com/emotionsfood/?ref=settings" target="_blank">
                                    <i class="fab fa-facebook-f"></i> </a> <br>
                            </li>
                            <li> <a href="http://twitter.com/foodemtoions" target="_blank">
                                    <i class="fab fa-twitter"></i> </a> <br>
                            </li>
                            <li> <a href="http://instagram.com/foodemtoions" target="_blank">
                                    <i class="fab fa-instagram"></i> </a> <br>
                            </li>
                        </ul>
                    </div>


                    <!--LISTA DE COMPRAS ------------------------------------------------->
                    <div class="ingredientes-tres">

                        <section class="ingredientes">
                            <div class="primero">
                                <h2> ingredientes:</h2>
                            </div>


                            <div class="lista-ingredientes">
                                <ul>
                                    <li>
                                        <p>Cebolla</p>
                                    </li>
                                    <li>
                                        <p>Cebolla</p>
                                    </li>
                                    <li>
                                        <p>Cilantro</p>
                                    </li>
                                    <li>
                                        <p>Pimiento</p>
                                    </li>
                                </ul>
                            </div>
                        </section>



                        <section class="ingredientes">

                            <div class="primero"> </div>


                            <div class="lista-ingredientes">
                                <ul>
                                    <li>
                                        <p>Tomate</p>
                                    </li>
                                    <li>
                                        <p>Cebolla</p>
                                    </li>
                                    <li>
                                        <p>Cilantro</p>
                                    </li>
                                    <li>
                                        <p>Pimiento</p>
                                    </li>
                                </ul>
                            </div>

                        </section>


                        <section class="ingredientes">

                            <div class="primero"> </div>


                            <div class="lista-ingredientes">
                                <p> 2 porciones
                                    <img src="img/gif/gif.png" /></p>
                            </div>

                        </section>




                    </div> <!-- FIN INGREDIENTES -------->


                    <!--PREPARACION ------------------------------------------------->

                    <div class="preparacion-dos">

                        <section class="preparacion">
                            <div class="prepa">
                                <h2>preparación:</h2>
                            </div>
                            <div class="prepa1">
                                <h2></h2>
                            </div>
                        </section>
                        <div class="tiempo">
                            <p>Tiempo de preparación:
                                15 minutos.
                                coste reducido</p>
                        </div>

                        <section class="descripcion">


                            <span class="grey">1</span>
                            <div class="grey1">
                                <p>empezando por pelar todo, limpiar, rascar, y molerlo.
                                    hvskhbcskdbcksdajbcasdcjnsdlnclsdancasldc
                                    bksjbacksdjbcskldjnclsdncalsdkncldsknclasd
                                    jbksjbacjdsbcldjsnclasdnclasdnclds
                                    vksbkdsbcksdjbcsbdds</p>
                            </div>
                            <span class="grey">2</span>
                            <div class="grey1">
                                <p>empezando por pelar todo, limpiar, rascar, y molerlo.
                                    hvskhbcskdbcksdajbcasdcjnsdlnclsdancasldc
                                    bksjbacksdjbcskldjnclsdncalsdkncldsknclasd
                                    jbksjbacjdsbcldjsnclasdnclasdnclds
                                    vksbkdsbcksdjbcsbdds</p>
                            </div>
                            <span class="grey">3</span>
                            <div class="grey1">
                                <p>empezando por pelar todo, limpiar, rascar, y molerlo.
                                    hvskhbcskdbcksdajbcasdcjnsdlnclsdancasldc
                                    bksjbacksdjbcskldjnclsdncalsdkncldsknclasd
                                    jbksjbacjdsbcldjsnclasdnclasdnclds
                                    vksbkdsbcksdjbcsbdds</p>
                            </div>




                        </section>



                    </div>

                    <!--FINAL PREPARACION ------------------------------------------------->

                    <section class="nutricion-informe">
                        <article class="nutricional">
                            <h2>información nutricional</h2>
                            <p><br>
                                Aporta 29 g de grasa de los cuales 81 mg son de colesterol,
                                65 g de carbohidrato, 608 mg de calcio entre otras cantidades de hierro,
                                sodio, potasio, magnesio, zinc, cobre, manganeso, vitamina A y del complejo B.</p>
                        </article>
                    </section>

                </div>
                <!--- FIN CONTENIDO-->


                <!-- SEGUNDA  COLUMNA  VACIA-->
                <div class="segunda-columna">


                </div>


                <!--TERCERA COLUMNA.....................-->
                <!-- ASIDE ----------------------------------------------------------------------------------------------------->
                <div id="aside">
                    <div class="titulo-galeria">
                        <h2>màs ideas...</h2>
                    </div>
                    <div class="galeria">


                        <section class="galeria-columna1">

                            <div class="img1"><img src="img/MICUIT1.jpg" width="222" height="150" />
                                <p>Cau Cau, gastronomia peruana, con patatas, zanahoria, guisantes,
                                    ternera.</p>
                            </div>

                            <div class="img1"><img src="img/editar/torta.jpg" width="222" height="150" />
                                <p>cau Cau, gastronomia peruana, con patatas, zanahoria, guisantes,
                                    ternera.</p>
                            </div>


                            <div class="img1"><img src="img/MICUIT1.jpg" width="222" height="150" />
                                <p>Cau Cau, gastronomia peruana, con patatas, zanahoria, guisantes,
                                    ternera.</p>
                            </div>
                        </section><!-- FIN GALERIA-COLUMNA 1-------->

                    </div> <!-- FIN TODA LA  GALERIA -------->
                </div> <!-- FIN ASIDE -------->


            </div> <!-- TRES COLUMNAS -->



























            <!-- FOOTER PRIMERO ESTA DENTRO DEL CONTAINER DE CONTENIDO-->
            <footer>

                <div class="footer-primero">



                    <div class="input">
                        <h1>Search</h1>
                        <form name="formulario" method="post" action="http://pagina.com/send.php">
                            <!-- Nombre de usuario.Campo obligatorio, entre 5-40 carácteres Sólo se permiten letras y números -->
                            <input type="text" name="nombre" placeholder="Su nombre de usuario" required
                                pattern="[A-Za-z0-9]{5,40}"
                                title="Letras y números. Tamaño mínimo: 5. Tamaño máximo: 40">
                        </form>
                    </div>




                    <div class="icon-social1">
                        <p>food emotions</p>
                        <ul class="social2">
                            <li> <a href="malito:contacto@emotionsfood.com" target="_blank">
                                    <i class="far fa-envelope"></i> </a></li>
                            <li> <a href="https://www.facebook.com/emotionsfood/?ref=settings" target="_blank"><i
                                        class="icon fab fa-facebook-f"></i> </a></li>
                            <li> <a href="http://twitter.com/foodemtoions" target="_blank">
                                    <i class="fab fa-twitter"></i> </a></li>
                            <li> <a href="http://instagram.com/foodemtoions" target="_blank">
                                    <i class="fab fa-instagram"></i> </a></li>
                        </ul>
                    </div>



                    <div class="box">
                        <h3>Sign up to get the latest News to your inbox.</h3>
                        <form>
                            <input type="text" name="" placeholder="Type...">
                            <input type="submit" name="" value="SIGN UP">
                        </form>
                    </div>




                </div>





                <!-- DIV FINAL CIERRE DEL CONTAINER PRINCIPAL DE TODO EL CONTENIDO-->



                <footer class="footer-second">
                    <div class="hr">
                        <hr />
                    </div>
                    <p> © <a href="http://foodemtions.com" target="_blank">Foodemotions.com</a>
                    </p>
                    <p>© 2019 Food Emotions, Todos los derechos reservados. El
                        uso de este sitio implica la aceptación de nuestros Términos de uso,
                        Política de privacidad y Política de datos derechos reservados</p>
                </footer>



            </footer>

            <!-- CONTADOR-->
            <script src="js/counter.js"></script>
            <!-- CARROUSEL-->
            <script src="js/slider-carrusel.js"></script>

            <!-- PARA CONVERTIR EL MENU A ASPA-->
            <script src="js/otromenu.js"></script>
            <!-- MENU PARA DESPLAZAR LAS OPCIONES DEL MENU-->
            <script src="js/menurecetdesplaza.js"></script>


            <!-- SCRIPT PARA LA CABECERA FIJA-->
            <script type="text/javascript">

                $(window).on("scroll", function () {
                    if ($(window).scrollTop()) {
                        $('header').addClass('black');
                    }

                    else {
                        $('header').removeClass('black');

                    }
                })

            </script>
        </div> <!-- FIN CONTENIDO GENERAL -->
    </div>
</body>

</html>